@font-face {
  font-family: 'Kazimir';
  src: url('../kazimir_font/Kazimir.otf') format('opentype');
}

@font-face {
  font-family: 'Kazimir Italic';
  src: url('../kazimir_font/Kazimir Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Kazimir Medium';
  src: url('../kazimir_font/Kazimir Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Kazimir Medium Italic';
  src: url('../kazimir_font/Kazimir Medium Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Kazimir Light';
  src: url('../kazimir_font/Kazimir Light.otf') format('opentype');
}

@font-face {
  font-family: 'Kazimir Light Regular';
  src: url('../kazimir_font/Kazimir Light Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Kazimir Black';
  src: url('../kazimir_font/Kazimir Black.otf') format('opentype');
}

@font-face {
  font-family: 'Kazimir Black Italic';
  src: url('../kazimir_font/Kazimir Black Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Kazimir Bold';
  src: url('../kazimir_font/Kazimir Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Kazimir Bold Italic' ;
  src: url('../kazimir_font/Kazimir Bold Italic.otf') format('opentype');
}

@font-face {
  font-family: 'chomsky' ;
  src: url('../chomsky_font/Chomsky.otf') format('opentype');
}

@font-face {
  font-family: 'times new roman bold italic';
  src: url('../times_font/times new roman bold italic.ttf') format('opentype');
}

@font-face {
  font-family: 'times new roman bold';
  src: url('../times_font/times new roman bold.ttf') format('opentype');
}

@font-face {
  font-family: 'times new roman';
  src: url('../times_font/times new roman.ttf') format('opentype');
}

@font-face {
  font-family: 'times new roman italic';
  src: url('../times_font/times new roman italic.ttf') format('opentype');
}

a{
	text-decoration: none !important;
	color: inherit;
}

p, a, input, label, button{
	font-family: 'times new roman', serif;
}

h3, h1{
	font-family: 'times new roman bold', serif; /* Use the font-family name you specified */
}

h4{
	font-family: 'times new roman';
}

h2 {
	font-family: 'times new roman bold', serif;
}

h5 {
	font-family: 'times new roman', sans-serif;
}

.navicon{
	font-size: 1.4rem;
}
.text_container{
	display: -webkit-box;
  	-webkit-line-clamp: 4;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
}

.last_update{
	height: 10rem;
}

.last_update_image{
	height: 6rem;
}

.category{
	height: 4rem;
	background-color: black;
	display: flex;
	align-items: center; /* Vertical alignment */
	justify-content: center; /* Horizontal alignment */
}

.category_title{
	color: white;
}
.popular{
	
}

.side_information_long_text{
	display: -webkit-box;
  	-webkit-line-clamp: 18;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
}

.navbarItem {
  background-color: #000000;
  color: white !important;
  border: none;
  text-align: center;
  transition: 0.3s;
  transition: color 0.3s ease;
}

.navbar2{
	background-color: black;
}

.navbarItem:hover {
  color: black !important;
  background-color:white;
}

.side_information_short_text, .text_card_related{
	display: -webkit-box;
  	-webkit-line-clamp: 6;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
}

.title_short_text {
	display: -webkit-box;
  	-webkit-line-clamp: 3;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
}

.title, .title_frame{
	font-family: 'times new roman bold', serif; /* Use the font-family name you specified */
}

.image_frame{
	height: 25rem;
}

.image_frame_2{
	height: 18rem;
}

.image_frame_3{
	height: 42rem;
}

.side_panel{
	height: 65 rem;
}
.highlight{
	height: 40rem;
}

.highlight2{
	height: 78rem;
}

.side_information{
	height: 30rem;
}
.ads{
	/*height: 17rem;*/
}

.last_update, .highlight, .side_panel, .popular, .right_short_panel,  
.article_next_button, .publisher_detail, .side_information_l2, .highlight2, .side_panel_main,.side_bar{
	border-left: 1px solid #C7C9C9;

  margin: 0 0px;
}

.text_card_popular{
		display: -webkit-box;
  	-webkit-line-clamp: 10;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
}

.logo_title{
	font-family: "chomsky";
	font-size: 8rem;
	color: black;
}

.ads{
	height: 17.5rem;
	background-color: darkred;
}

img {
	  width: 100%; /* or any custom size */
	 	height: 100%;
    object-fit:cover;
}



.avatar{
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.related_post_title{
	text-decoration-line: underline;
  text-decoration-style: solid;
}

input::placeholder {
    color: grey !important;
    font-family: 'times new roman', serif;
}

#search_bar{
	color: white !important;
	font-family: 'times new roman', serif;
}

.logo-badge{
	height: 10rem;
}

.logo{
	object-fit: contain;
}

.model_1_image{
		width: 100%; /* or any custom size */
	 	height: 19rem;
    object-fit:cover;
}

.model_1_text{
	display: -webkit-box;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
}


.model_2_image{
		width: 100%; /* or any custom size */
	 	height: 10rem;
    object-fit:cover;
}

.model_3_image{
		width: 100%; /* or any custom size */
	 	height: 10rem;
    object-fit:cover;
}

.model_5_image{
		width: 100%; /* or any custom size */
	 	height: 5rem;
    object-fit:cover;
}

.avatar_model_6{
	width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

#waveform {
      cursor: pointer;
      position: relative;
    }
    #hover_wave {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      pointer-events: none;
      height: 100%;
      width: 0;
      mix-blend-mode: overlay;
      background: rgba(255, 255, 255, 0.5);
      opacity: 0;
      transition: opacity 0.2s ease;
    }
    #waveform:hover #hover_wave {
      opacity: 1;
    }
    #time_wave,
    #duration_wave {
      position: absolute;
      z-index: 11;
      top: 50%;
      margin-top: -1px;
      transform: translateY(-50%);
      font-size: 11px;
      background: rgba(0, 0, 0, 0.75);
      padding: 2px;
      color: #ddd;
    }
    #time_wave {
      left: 0;
    }
    #duration_wave {
      right: 0;
    }


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45rem;
  background-color: white;
}

/* swtich toggle */

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.display_edit{
  height: 7rem;
}


/* small swtich toggle */

 /* The switch - the box around the slider */
.switch_small {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch_small input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider_small {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_small:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider_small {
  background-color: #2196F3;
}

input:focus + .slider_small {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider_small:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider_small.round {
  border-radius: 17px;
}

.slider_small.round:before {
  border-radius: 50%;
}
